@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

div.app {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #000;
    color:#aaa;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  position: relative;
  color:inherit
}
